<!DOCTYPE html>
<html>
    <head>
        <title>Milana's Blog</title>
    </head>
    <body>
        <header>
            <h1><a href="/">Milana's Blog</a></h1>
        </header>

        <article>
            <time>published: 14.06.2014, 12:14</time>
            <h2><a href="">My first post</a></h2>
            <p>Hello! This is my very first post!</p>
        </article>

        <article>
            <time>published: 14.06.2014, 12:14</time>
            <h2><a href="">My second post</a></h2>
            <p>This is my second test post!</p>
        </article>
    </body>
</html>